.Bookmarked {
	display: flex;
	padding-top: 3.2rem;
}

.container {
	width: 100%;
	margin-left: 3.5rem;
}

.single_container {
	position: relative;
	width: 28rem;
	margin: 0 4rem 3.2rem 0;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
}

.section_title {
	font-size: var(--fs-800);
	font-weight: 300;
	margin-bottom: 2.5rem;
}
