.recommended {
	padding-top: 4rem;
	// background-color: lightblue;
	// overflow: hidden;
	position: relative;
}

.section_title {
	font-weight: 300;
	font-size: var(--fs-800);
	padding-bottom: 4rem;
}

.recommended_wrapper {
	display: flex;
	flex-wrap: wrap;
}

.image {
	border-radius: 0.8rem;
}

// 375 -480px
@media (max-width: 30em) {
	.section_title {
		font-size: var(--fs-800-s);
	}
}
