.recommended {
	padding-top: 4rem;
	// background-color: lightblue;
}

.section_title {
	font-weight: 300;
	font-size: var(--fs-800);
	padding-bottom: 3.2rem;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
}

.image {
	border-radius: 0.8rem;
}
