.trending {
	grid-area: "trending";
	// overflow: hidden;
}

.section_title {
	font-size: var(--fs-800);
	font-weight: 300;
	margin-bottom: 2.5rem;
}
.movies_container {
	// background-color: red;
	display: grid;

	grid-auto-flow: column;
	grid-gap: 4rem;
}

.single_container {
	position: relative;
	width: 28rem;
	// height: 28rem;
	// background-color: palegreen;
	text-overflow: ellipsis;

	// height: 25rem;
}

.trending_image {
	width: 100%;
	height: 25rem;
	border-radius: 0.8rem;
}

.movie_detail_container {
	// position: absolute;
	// left: 5%;
	// bottom: 24%;

	margin-top: 1rem;
	display: flex;

	color: var(--clr-sub-title);
}

.year {
}
.list_item {
	margin-left: 2rem;
	list-style: unset;
}

.movie_icon {
	margin-right: 0.5rem;
}
.span_flex {
	display: flex;
	align-items: center;
}

.movie_title {
	// position: absolute;
	// bottom: 10%;
	// left: 5%;
	// width: 20rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: var(--fs-700);
}

.rating_wrapper {
	position: absolute;
	left: 10%;
	top: -5%;
	width: 5rem;
}

// 375 -480px
@media (max-width: 30em) {
	.section_title {
		font-size: var(--fs-800-s);
		margin-bottom: 2rem;
	}
	.movies_container {
		grid-auto-flow: column;
		grid-gap: 2rem;
	}
	.single_container {
		position: relative;
		width: 24rem;
		height: 14rem;
	}

	.movie_detail_container {
		font-size: var(--fs-400-s);
	}

	.movie_title {
		font-size: var(--fs-700-s);
	}
}
