.list {
	display: flex;
	align-items: center;
}

.list li {
	// float: bottom;
}

.list_item_wrapper {
}

.list_item {
	text-align: center;
	width: 4rem;
	// height: 3rem;
	border: 1px solid #fff;
	// padding: 0.8rem;
}

.ellipses_dots {
	text-align: center;
	width: 4rem;
	border: 1px solid #fff;
}

.active {
	background-color: #fff;
	color: #5a698f;
}
